# Ignore object files
*.o
*.mod

# Ignore files in AtonOutput and input
AtonOutput/*
input/*

# Unignore *.txt and *.py files in AtonOutput and input
!AtonOutput/*.txt
!AtonOutput/*.py
!input/*.txt
!input/*.py

# Ignore executable
snuppat

# Ignore input files
*.in

# Ignore tags
tags

# Ignore several files
*.dat
*.datBIN
*.datYields
*.TAB
*.mp4
*.bak
*.png
*.tar.gz

# Ignore callgrind output
callgrind*
